<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
Data Analysis with Pandas
</center></h1>
</div>

> ***Note***: This notebook contains solution cells with ***a*** solution. Remember there is not only one solution to a problem!  
> 
> You will recognise these cells as they start with **# %**.  
> 
> If you would like to see the solution, you will have to remove the **#** (which can be done by using **Ctrl** and **?**) and run the cell. If you want to run the solution code, you will have to run the cell again.

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Data analysis packages
</h2><br>
</div>

Data Scientists use a wide variety of libraries in Python that make working with data significantly easier. Those libraries primarily consist of:

| Package | Description |
| -- | -- |
| `NumPy` | Numerical calculations - does all the heavy lifting by passing out to C subroutines. This means you get _both_ the productivity of Python, _and_ the computational power of C. Best of both worlds! |
| `SciPy` | Scientific computing, statistic tests, and much more! |
| `pandas` | Your data manipulation swiss army knife. You'll likely see pandas used in any PyData demo! pandas is built on top of NumPy, so it's **fast**. |
| `matplotlib` | An old but powerful data visualisation package, inspired by Matlab. |
| `Seaborn` | A newer and easy-to-use but limited data visualisation package, built on top of matplotlib. |
| `scikit-learn` | Your one-stop machine learning shop! Classification, regression, clustering, dimensional reduction and more. |
| `nltk` and `spacy` | nltk = natural language processing toolkit; spacy is a newer package for natural language processing but very easy to use. |
| `statsmodels` | Statistical tests, time series forecasting and more. The "model formula" interface will be familiar to R users. |
| `requests` and `Beautiful Soup` | `requests` + `Beautiful Soup` = great combination for building web scrapers. |
| `Jupyter` | Jupyter itself is a package too. See the latest version at https://pypi.org/project/jupyter/, and upgrade with e.g. `conda install jupyter==1.0.0` |

Though there are countless others available.

For today, we'll primarily focus ourselves around the library that is 99% of our work: `pandas`. Pandas is built on top of the speed and power of NumPy.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Imports
</h2><br>
</div>

In [1]:
import pandas as pd

>Import numpy using the convention seen at the end of the first notebook.

In [2]:
import numpy as np

In [ ]:
# %load ../solutions/02_01.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Loading the data
</h2><br>
</div>

To see a method's documentation, you can use the help function. In Jupyter, you can also just put a question mark before the method.

In [4]:
?pd.read_csv

To load the dataframe we are using in this notebook, we will provide the path to the file: ../data/Penguins/penguins.csv

>Load the dataframe, read it into a pandas DataFrame and assign it to df

In [5]:
df = pd.read_csv('../data/Penguins/penguins.csv')

In [ ]:
# %load ../solutions/02_02.py

**To have a look at the first 5 rows of df, we can use the *head* method.**

In [6]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

>Have a look at the last 3 rows of df using the tail method

In [7]:
df.tail(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [ ]:
# %load ../solutions/02_03.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
General information about the dataset
</h2><br>
</div>

**To get the size of the datasets, we can use the *shape* attribute.**  
The first number is the number of row, the second one the number of columns

>Show the shape of df (do not put brackets at the end)

In [8]:
df.shape

(344, 7)

In [ ]:
# %load ../solutions/02_04.py

>Get the names of the columns and info about them (number of non null and type) using the info method.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [ ]:
# %load ../solutions/02_05.py

>Get the columns of the dataframe using the columns attribute.

In [12]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [ ]:
# %load ../solutions/02_06.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Display settings
</h2><br>
</div>

We can check the display option of the notebook.

In [ ]:
pd.options.display.max_rows

>Force pandas to display 25 rows by changing the value of the above.

In [15]:
pd.options.display.max_rows=25
# pd.options.display.max_rows(25) --> INT object is not callable

In [ ]:
# %load ../solutions/02_07.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Subsetting data
</h2><br>
</div>

We can subset a dataframe by label, by index or a combination of both.  
There are different ways to do it, using .loc, .iloc and also [].  
See [documentation ](https://pandas.pydata.org/pandas-docs/stable/indexing.html).

>Display the 'bill_length_mm' column

In [18]:
df['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339     NaN
340    46.8
341    50.4
342    45.2
343    49.9
Name: bill_length_mm, Length: 344, dtype: float64

In [ ]:
# %load ../solutions/02_08.py

*Note:* We could also use `df.bill_length_mm`, but it's not the greatest idea because it could be mixed with methods and does not work for columns with spaces.

>Have a look at the 12th observation:

In [22]:
# using .iloc (uses positions, "i" stands for integer)
df.iloc[12]

species                 Adelie
island               Torgersen
bill_length_mm            41.1
bill_depth_mm             17.6
flipper_length_mm          182
body_mass_g               3200
sex                     Female
Name: 12, dtype: object

In [ ]:
# %load ../solutions/02_09.py

In [24]:
# using .loc (uses indexes and labels)
df.loc[10]

species                 Adelie
island               Torgersen
bill_length_mm            37.8
bill_depth_mm             17.1
flipper_length_mm          186
body_mass_g               3300
sex                        NaN
Name: 10, dtype: object

In [ ]:
# %load ../solutions/02_10.py

>Display the **bill_length_mm** of the last three observations.

In [26]:
# using .iloc
df.iloc[-3:, 2]

341    50.4
342    45.2
343    49.9
Name: bill_length_mm, dtype: float64

In [ ]:
# %load ../solutions/02_11.py

In [28]:
# using .loc
df['bill_length_mm'].loc[341:]

341    50.4
342    45.2
343    49.9
Name: bill_length_mm, dtype: float64

In [ ]:
# %load ../solutions/02_12.py

And finally look at the **flipper_length_mm** and **body_mass_g** of the 146th, the 8th and the 1rst observations:

In [32]:
# using .iloc
df.iloc[[145, 7, 0], [4, 5]]

     flipper_length_mm  body_mass_g
145              185.0       3650.0
7                195.0       4675.0
0                181.0       3750.0

In [ ]:
# %load ../solutions/02_13.py

In [34]:
# using .loc
df.loc[[145, 7, 0],['flipper_length_mm', 'body_mass_g']]
### df['flipper_length_mm', 'body_mass_g'].loc[145, 7, 0]

     flipper_length_mm  body_mass_g
145              185.0       3650.0
7                195.0       4675.0
0                181.0       3750.0

In [ ]:
# %load ../solutions/02_14.py

**!!WARNING!!**  Unlike Python and ``.iloc``, the end value in a range specified by ``.loc`` **includes** the last index specified.

In [35]:
df.iloc[5:10]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [36]:
df.loc[5:10]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Filtering data on conditions
</h2><br>
</div>

**We can also use condition(s) to filter.**  
We want to display the rows of df where **body_mass_g** is greater than 4000. We will start by creating a mask with this condition.

In [37]:
mask_PW = df['body_mass_g'] > 4000
mask_PW

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340     True
341     True
342     True
343     True
Name: body_mass_g, Length: 344, dtype: bool

Note that this return booleans. If we pass this mask to our dataframe, it will display only the rows where the mask is True.

In [38]:
df[mask_PW]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

>Display the rows of df where **body_mass_g** is greater than 4000 and **flipper_length_mm** is less than 185.

In [42]:
mask_PW_1 = (df['body_mass_g'] > 4000) & (df['flipper_length_mm'] < 185)
df[mask_PW_1]
### mask_PW_1 = (df['body_mass_g'] > 4000) and (df['flipper_length_mm'] < 185) # not working with AND as operator

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
39,Adelie,Dream,39.8,19.1,184.0,4650.0,Male

In [ ]:
# %load ../solutions/02_15.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Values
</h2><br>
</div>

We can get the number of unique values from a certain column by using the `nunique` method.

For example, we can get the number of unique values from the species column:

In [43]:
df['species'].nunique()

3

We can also get the list of unique values from a certain column by using the `unique` method.
>Return the list of unique values from the species column

In [44]:
df['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [ ]:
# %load ../solutions/02_16.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Null Values and NaN
</h2><br>
</div>

When you work with data, you will quickly learn that data is never "clean". These values are usually referred to as null value. In computation it is best practice to define a "special number" that is "**N**ot **a** **N**umber" also called NaN.

We can use the `isnull` method to know if a value is null or not. It returns boolean values.

In [9]:
df['flipper_length_mm'].isnull()

0      False
1      False
2      False
3       True
4      False
       ...
339     True
340    False
341    False
342    False
343    False
Name: flipper_length_mm, Length: 344, dtype: bool

**We can apply different methods one after the other.**.  
For example, we could apply to method `sum` after the method `isnull` to know the number of null observations in the **flipper_length_mm** column.
>Get the total number of null values for **flipper_length_mm**.

In [11]:
df['flipper_length_mm'].isnull().sum()

2

In [ ]:
# %load ../solutions/02_17.py

To get the count of the different values of a column, we can use the `value_counts` method.

For example, for the species column:

In [12]:
df['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

If we want to know the count of NaN values, we have to pass the value `False` to the parameter **dropna** (set to `True` by default).
> Return the proportion for each sex, including the NaN values."

In [16]:
df['sex'].value_counts(dropna=False)

Male      168
Female    165
NaN        11
Name: sex, dtype: int64

In [ ]:
# %load ../solutions/02_18.py

To get the proportion instead of the count of these values, we have to pass the value `True` to the parameter **normalize**.
>Return the proportion for each species.

In [18]:
df['species'].value_counts(normalize=True)

Adelie       0.441860
Gentoo       0.360465
Chinstrap    0.197674
Name: species, dtype: float64

In [ ]:
# %load ../solutions/02_19.py

>Using the index attribute, get the indexes of the observation without **flipper_length_mm**

In [22]:
df[df['flipper_length_mm'].isnull()].index

Int64Index([3, 339], dtype='int64')

In [ ]:
# %load ../solutions/02_20.py

Use the **[dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)** method to remove the row which only has NaN values.
>Get the help for the dropna method.

In [31]:
?pd.DataFrame.dropna

In [ ]:
# %load ../solutions/02_21.py

>Use the dropna method to remove the row of `df` where all of the values are NaN, and assign it to `df_2`.

In [27]:
df_2 = df.dropna(axis=1, how='all') # is axis attribute necessary?

In [ ]:
# %load ../solutions/02_22.py

We can use a f-string to format a string. We have to write a `f` before the quotation mark, and write what you want to format between curly brackets.

In [32]:
print(f'shape of df: {df.shape}')

shape of df: (344, 7)

> Print the number of rows of `df_2` using a f_string. Did we lose any rows between `df` and `df_2`? If not, why not?

In [34]:
print(f'number of rows of df_2: {df_2.shape}')
# we haven't lose any rows because there is no row with all NaN values;

number of rows of df_2: (344, 7)

In [ ]:
# %load ../solutions/02_23.py

>Use the dropna method to remove the rows of `df_2` which contains any NaN values, and assign it to `df_3`

In [46]:
df_3 = df_2.dropna(how='any')
# axis=1 removed!

In [ ]:
# %load ../solutions/02_24.py

>Print the number of rows of `df_3` using a f_string.

In [47]:
print(f'number of rows of df_3: {df_3.shape}')

number of rows of df_3: (333, 7)

In [ ]:
# %load ../solutions/02_25.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Duplicates
</h2><br>
</div>

>Remove the duplicates rows from `df_3`, and assign the new dataframe to `df_4`

In [48]:
df_4 = df_3.drop_duplicates()
# keep='first' -> removes duplicates, but keeps the first occurrence

In [ ]:
# %load ../solutions/02_26.py

In [49]:
# checking the shape of df_4
df_4.shape

(333, 7)

You should see that no rows have been dropped. Why? (There are no rows which are _exact_ duplicates of each other.)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Some stats
</h2><br>
</div>

>Use the describe method to see how the data is distributed (numerical features only!)

In [52]:
df_4.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

In [ ]:
# %load ../solutions/02_27.py

We can also change the **species** column to save memory space.

In [56]:
df_4['species'] = df_4['species'].astype('category')

>Using the dtypes attribute, check the types of the columns of `df_4`

In [57]:
df_4.dtypes
# not a method, .dtypes()

species              category
island                 object
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                    object
dtype: object

In [ ]:
# %load ../solutions/02_28.py

We can also use the functions count(), mean(), sum(), median(), std(), min() and max() separately if we are only interested in one of those.

>Get the minimum for each numerical column of `df_4`

In [58]:
df_4.min()

island               Biscoe
bill_length_mm         32.1
bill_depth_mm          13.1
flipper_length_mm       172
body_mass_g            2700
sex                  Female
dtype: object

In [ ]:
# %load ../solutions/02_29.py

>Calculate the maximum of the **flipper_length_mm**

In [60]:
df_4['flipper_length_mm'].max()

231.0

In [ ]:
# %load ../solutions/02_30.py

We can also get information for each species using the `groupby` method.


> Get the median for each **species**.

In [63]:
df_4.groupby('species').median()
# why not df_4('species').groupby().median()

           bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
species
Adelie              38.85          18.40              190.0       3700.0
Chinstrap           49.55          18.45              196.0       3700.0
Gentoo              47.40          15.00              216.0       5050.0

In [ ]:
# %load ../solutions/02_31.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Saving the dataframe as a csv file
</h2><br>
</div>

>Save df_4 using this path: `'../data/Penguins/my_penguins.csv'`

In [ ]:
# %load ../solutions/02_32.py