<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
More pandas
</center></h1>
</div>

***Note***: this notebook contains cell with ***a*** solution. Remember there is not only one solution to a problem!  

You will recognise these cells as they start with **# %**.  

If you would like to see the solution, you will have to remove the **#** (which can be done by using **Ctrl** and **?**) and run the cell. If you want to run the solution code, you will have to run the cell again.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Exercise
</h2><br>
</div>

> 1. Import pandas (with the mostly used convention seen in notebook 2).  
> 2. Import datetime.  
> 3. Import matplotlib (as shown in notebook 3.1).  
> 4. Add the magic command to show the plot in Jupyter.

In [3]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
# %load ../solutions/05_01.py

In this notebook, we are going to use data provided by the [UK government](https://data.gov.uk/dataset/a59198d9-2e24-4816-be1b-c3a1efa02dda/better-training-for-safer-food). It is provided under the [Open Government Licence](http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/).

>Load the data of the year 2014 and assign it to df_2014 (path: '../data/food_training/training_2014.csv')

In [4]:
df_2014 = pd.read_csv('../data/food_training/training_2014.csv')

In [ ]:
# %load ../solutions/05_02.py

>Have a look at the first rows of df_2014

In [5]:
df_2014.head(1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,CourseName,Location,DateFrom,DateTo,Attendees,NaN,NaN

In [ ]:
# %load ../solutions/05_03.py

You can see that the header are not at the right place.  
If you have a look at the documentation, you will see that the *header* parameter of the read_csv method is set to *infer*. It will infer the header using the first row (which has the index *0*).

>Load the data of the year 2014 using the header parameter and assign it to df_2014 (it will be overwritten)

In [10]:
df_2014 = pd.read_csv('../data/food_training/training_2014.csv', header=1)
# header=0 denotes the first line of data rather than the first line of the file (def from documentation);

In [ ]:
# %load ../solutions/05_04.py

>Have a look at the first rows of df_2014. Looks better, isn't it?

In [11]:
df_2014.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Risk Assessment (Pest),lisbon;Portugal,2015-01-12,2015-01-16,1,NaN,NaN
1,Organic Farming,Bristol,2015-01-19,2015-01-22,2,NaN,NaN
2,Prevention Control and Eradication of Transmis...,Ljubljana;Slovenia,2015-01-20,2015-01-23,2,NaN,NaN
3,Contingency Planning,Padua,2015-01-26,2015-01-30,2,NaN,NaN
4,HACCP,Rome,2015-02-02,2015-02-06,2,NaN,NaN

In [ ]:
# %load ../solutions/05_05.py

>Load the data for the years 2015 and 2016 and assign them to df_2015 and df_2016 (don't forget the parameter!)

In [12]:
df_2015 = pd.read_csv('../data/food_training/training_2015.csv', header=1)
df_2016 = pd.read_csv('../data/food_training/training_2016.csv', header=1)

In [ ]:
# %load ../solutions/05_06.py

In [13]:
df_2015.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Food Hygiene and Flexibility,Vilnius,2015-04-12,2015-04-17,2,NaN,NaN
1,Plant Health Risks,Milan;Italy,2015-04-13,2015-04-16,1,NaN,NaN
2,New Investigative Techniques,Madrid,2015-04-13,2015-04-16,2,NaN,NaN
3,Foodborne Outbreaks Investigations,Lisbon,2015-04-13,2015-04-17,2,NaN,NaN
4,Food Hygiene at Primary Production (Plants),Budapest,2015-04-13,2015-04-17,2,NaN,NaN

In [14]:
df_2016.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Food Composition and Information,Valencia;Spain,2016-04-04,2016-04-08,2,NaN,NaN
1,HACCP,Dublin;Ireland,2016-04-04,2016-04-08,3,NaN,NaN
2,Food Hygiene and Flexibility,Vilnius;Lithuania,2016-04-04,2016-04-08,2,NaN,NaN
3,Foodborne Outbreaks Investigations,Berlin,2016-04-04,2016-04-08,2,NaN,NaN
4,Traces (USE AT IMPORT OF LIVE ANIMALS AND PROD...,Alicante;Spain,2016-04-05,2016-04-08,1,NaN,NaN

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Concatenate
</h2><br>
</div>

Pandas have a good page with documentation about [merge, join and concatenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

>Using the documentation, concatenate the 3 dataframe into one, named df.

In [ ]:
# %load ../solutions/05_07.py

>check the shape of df

In [ ]:
# %load ../solutions/05_08.py

>Look at the indices of df using the index attribute.

In [ ]:
# %load ../solutions/05_09.py

We can see that the index is not going from 0 to 265 with a step of 1... 
> Clear the existing index and reset it using the ***reset_index*** method.  
> Check df's index.

In [ ]:
# %load ../solutions/05_10.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Dropping columns
</h2><br>
</div>

>Show the information relative to df's columns.

In [ ]:
# %load ../solutions/05_11.py

We can see that the last two columns are completely empty, so we will drop them.

>Get the help for the drop method (if you prefer, you can search for the documentation on internet).

In [ ]:
# %load ../solutions/05_12.py

You can see that the default value for *axis* is *0*. When it is the case, the method will look at the rows (i.e. *axis 0*) of the dataframe.  
In our case, we want to drop columns (i.e. *axis 1*).

>Drop the last two columns of df.  
>labels: provide a list with the column's names  
>Don't forget the axis!

In [ ]:
# %load ../solutions/05_13.py

In [ ]:
df.head()

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Text data
</h2><br>
</div>

To [work with text data](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html), We will have to use the ***str*** attribute to access the methods (e.g. df['col'].str.replace('-', ' ')).  
We will have to use this attribute in different cases, but before that we will look at the Location column.  
>Display the unique values of the Location column.

In [ ]:
# %load ../solutions/05_14.py

You can see that the cities and countries are separated with a semi-column (even if some values are missing). We are going to split the ***Location*** column.
>Try splitting the ***Location*** column on the semi-column.  
>You can check the [link](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html) provided earlier or the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).

In [ ]:
# %load ../solutions/05_15.py

This return a list with the items which were before and after the semi-column.  
>Try again to split again the ***Location*** column, but expand expand the results to get it in different columns.

In [ ]:
# %load ../solutions/05_16.py

>Create a ***city*** and a ***country*** columns in df using this split.

In [ ]:
# %load ../solutions/05_17.py

>Drop the ***Location*** column.

In [ ]:
# %load ../solutions/05_18.py

In [ ]:
df.head()

>Get the number of unique values in the ***country*** column.

In [ ]:
# %load ../solutions/05_19.py

>Check the count of each unique values in the ***country*** column.

In [ ]:
# %load ../solutions/05_20.py

We can see that some countries (e.g. Italy) seems to appear several times with some variations.
>Use the strip method to remove the (potential) extra spaces at the beginning and the end of the cities and countries.

In [ ]:
# %load ../solutions/05_21.py

   >Check again the number of unique values in the country column

In [ ]:
# %load ../solutions/05_22.py

>Have a look at the rows where the ***country*** is Portugal.  
What do you notice about the ***city***?

In [ ]:
# %load ../solutions/05_23.py

>Put the ***city*** column into lower case (don't forget to re-assign it to the **city** column).

In [ ]:
# %load ../solutions/05_24.py

>Have a look at the rows where the ***city*** contains ' ***/*** '.

In [ ]:
# %load ../solutions/05_25.py

Let's decide we only want to have one city for each row. We can decide to keep only the city before the forward slash.  
>Replace the string with a forward slash (i.e. ***/***) with the city appearing before the slash in the ***city*** column.  
>You will have to use a [regular expression](https://docs.python.org/3/howto/regex.html#repeating-things).      
>You can test your regular expression [here](https://regex101.com).

In [ ]:
# %load ../solutions/05_26.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Map
</h2><br>
</div>

In [ ]:
df['country'].value_counts()

We saw that some countries were filled with their country code, and others with their name. We are going to move everything to the same format.  
We can do that by mapping a dictionary to a column. It will then replace the ***key*** with the corresponding ***value***.  
>Complete the code below to replace the country codes with the country name.  
>Note that we use a mask as we want to replace only certain values of the series.

In [ ]:
dict_code = {'BG':'Bulgaria', 'CZ':'Czech Republic', 'IT':'Italy', 'GR':'Greece', 'SI':'Slovenia', 'UK':'United Kingdom'}

df.loc[df['country'].isin(dict_codes.keys()), 'country'] =

In [ ]:
# %load ../solutions/05_27.py

In [ ]:
df['country'].value_counts(dropna=False)

Certain city values are unknown.  
>Have a look at the ***country*** values where the ***city*** is ***unknown***.

In [ ]:
df['city'].value_counts()

In [ ]:
# %load ../solutions/05_28.py

>Complete the code bellow to replace the value ***unknown*** in the ***city*** column with the capital of the corresponding ***country***.

In [ ]:
dict_capitals = {'Denmark':'copenhague', 'France':'paris', 'Italy':'rome', 'Spain':'madrid', 'United Kingdom':'london'}

df.loc[df['city'] == 'unknown', 'city'] = df.loc[df['city'] == 'unknown', 'country'].

In [ ]:
# %load ../solutions/05_29.py

Lots of countries are missing, but we can fill them using the cities.  
We can create a dictionary of cities and their corresponding countries using the rows where the ***country*** is not null.

In [ ]:
dict_cities = df.loc[df['country'].notnull(), ['city', 'country']].set_index('city').to_dict()['country']

We now want to check if all the cities we need are in our dictionary.  
>Subtracting the dictionary keys to the set of the ***city*** values, find which cities are in the ***city*** column but not in the dictionary ***keys***.

In [ ]:
# %load ../solutions/05_30.py

>Knowing that Bristol is in the United Kingdom, Gothenburg in Sweden, Graz in Austria, Lyon in France, Murcia in Spain and Parma in Italy, add some key-value pair to the dictionary ***dict_cities***.    
>You can either add each key-value pair or you can [update](https://python-reference.readthedocs.io/en/latest/docs/dict/update.html) dict_cities with another dictionary.

In [ ]:
# %load ../solutions/05_31.py

>Use this dictionary to fill in some of the missing countries.

In [ ]:
# %load ../solutions/05_32.py

>Get the count of the different values of the ***country*** column, showing the NaN values.

In [ ]:
# %load ../solutions/05_33.py

We can see that there are only 4 NaN values. They correspond to bad data entries that we could "manually" correct. Feel free to add a few calls below and give it a try if you feel like it!

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Apply
</h2><br>
</div>

>Write a function that returns ***single*** if the value passed is 1, and ***multiple*** otherwise.

In [ ]:
# %load ../solutions/05_34.py

>Apply this function to the ***Attendees*** column.

In [ ]:
# %load ../solutions/05_35.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Join
</h2><br>
</div>

>Load the language data and assign it to languages (path: '../data/food_training/languages.csv')

In [ ]:
# %load ../solutions/05_36.py

In [ ]:
languages.head()

>Join df and languages to add the language information to df.  
>You can check the page about [merge, join and concatenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) or the merge method [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [ ]:
# %load ../solutions/05_37.py

>Drop the ***Country*** column from df.

In [ ]:
# %load ../solutions/05_38.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Date time
</h2><br>
</div>

>Check the dtype of the ***DateFrom***.

In [ ]:
# %load ../solutions/05_39.py

***DateFrom*** and ***DateTo*** are objects.  
>Convert these two columns to ***datetime*** format.

In [ ]:
# %load ../solutions/05_40.py

Note: We could have used the parameter *parse_dates* when loading data.  
We can now use these columns to filter or do some calculation.
>Display the rows where the training started after the first February 2017.

In [ ]:
# %load ../solutions/05_41.py

>Create a ***duration*** column with the duration of the training.

In [ ]:
# %load ../solutions/05_42.py

>Create a ***month*** column indicating which month the training started.  
>Plot an histogram of the ***month*** column.

In [ ]:
# %load ../solutions/05_43.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Sorting values
</h2><br>
</div>

>Sort df in alphabetical order of ***cities***.

In [ ]:
# %load ../solutions/05_44.py

>Sort df by ascending ***duration*** and descending number of ***Attendees***.

In [ ]:
# %load ../solutions/05_45.py

We can see that there was a couple of issues with dates data entry...

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Group By
</h2><br>
</div>

>Group df by ***city***. Assign the grouped data to df_gr.

In [ ]:
# %load ../solutions/05_46.py

>Get the mean number of ***Attendees*** for the grouped data.

In [ ]:
# %load ../solutions/05_47.py