<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
More pandas
</center></h1>
</div>

***Note***: this notebook contains cell with ***a*** solution. Remember there is not only one solution to a problem!  

You will recognise these cells as they start with **# %**.  

If you would like to see the solution, you will have to remove the **#** (which can be done by using **Ctrl** and **?**) and run the cell. If you want to run the solution code, you will have to run the cell again.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Exercise
</h2><br>
</div>

> 1. Import pandas (with the mostly used convention seen in notebook 2).  
> 2. Import datetime.  
> 3. Import matplotlib (as shown in notebook 3.1).  
> 4. Add the magic command to show the plot in Jupyter.

In [3]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
# %load ../solutions/05_01.py

In this notebook, we are going to use data provided by the [UK government](https://data.gov.uk/dataset/a59198d9-2e24-4816-be1b-c3a1efa02dda/better-training-for-safer-food). It is provided under the [Open Government Licence](http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/).

>Load the data of the year 2014 and assign it to df_2014 (path: '../data/food_training/training_2014.csv')

In [4]:
df_2014 = pd.read_csv('../data/food_training/training_2014.csv')

In [ ]:
# %load ../solutions/05_02.py

>Have a look at the first rows of df_2014

In [5]:
df_2014.head(1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,CourseName,Location,DateFrom,DateTo,Attendees,NaN,NaN

In [ ]:
# %load ../solutions/05_03.py

You can see that the header are not at the right place.  
If you have a look at the documentation, you will see that the *header* parameter of the read_csv method is set to *infer*. It will infer the header using the first row (which has the index *0*).

>Load the data of the year 2014 using the header parameter and assign it to df_2014 (it will be overwritten)

In [10]:
df_2014 = pd.read_csv('../data/food_training/training_2014.csv', header=1)
# header=0 denotes the first line of data rather than the first line of the file (def from documentation);

In [ ]:
# %load ../solutions/05_04.py

>Have a look at the first rows of df_2014. Looks better, isn't it?

In [11]:
df_2014.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Risk Assessment (Pest),lisbon;Portugal,2015-01-12,2015-01-16,1,NaN,NaN
1,Organic Farming,Bristol,2015-01-19,2015-01-22,2,NaN,NaN
2,Prevention Control and Eradication of Transmis...,Ljubljana;Slovenia,2015-01-20,2015-01-23,2,NaN,NaN
3,Contingency Planning,Padua,2015-01-26,2015-01-30,2,NaN,NaN
4,HACCP,Rome,2015-02-02,2015-02-06,2,NaN,NaN

In [ ]:
# %load ../solutions/05_05.py

>Load the data for the years 2015 and 2016 and assign them to df_2015 and df_2016 (don't forget the parameter!)

In [12]:
df_2015 = pd.read_csv('../data/food_training/training_2015.csv', header=1)
df_2016 = pd.read_csv('../data/food_training/training_2016.csv', header=1)

In [ ]:
# %load ../solutions/05_06.py

In [13]:
df_2015.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Food Hygiene and Flexibility,Vilnius,2015-04-12,2015-04-17,2,NaN,NaN
1,Plant Health Risks,Milan;Italy,2015-04-13,2015-04-16,1,NaN,NaN
2,New Investigative Techniques,Madrid,2015-04-13,2015-04-16,2,NaN,NaN
3,Foodborne Outbreaks Investigations,Lisbon,2015-04-13,2015-04-17,2,NaN,NaN
4,Food Hygiene at Primary Production (Plants),Budapest,2015-04-13,2015-04-17,2,NaN,NaN

In [14]:
df_2016.head()

,CourseName,Location,DateFrom,DateTo,Attendees,Unnamed: 5,Unnamed: 6
0,Food Composition and Information,Valencia;Spain,2016-04-04,2016-04-08,2,NaN,NaN
1,HACCP,Dublin;Ireland,2016-04-04,2016-04-08,3,NaN,NaN
2,Food Hygiene and Flexibility,Vilnius;Lithuania,2016-04-04,2016-04-08,2,NaN,NaN
3,Foodborne Outbreaks Investigations,Berlin,2016-04-04,2016-04-08,2,NaN,NaN
4,Traces (USE AT IMPORT OF LIVE ANIMALS AND PROD...,Alicante;Spain,2016-04-05,2016-04-08,1,NaN,NaN

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Concatenate
</h2><br>
</div>

Pandas have a good page with documentation about [merge, join and concatenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

>Using the documentation, concatenate the 3 dataframe into one, named df.

In [19]:
frames = [df_2014, df_2015, df_2016]
df = pd.concat(frames)

In [ ]:
# %load ../solutions/05_07.py

>check the shape of df

In [21]:
df.shape

(266, 7)

In [ ]:
# %load ../solutions/05_08.py

>Look at the indices of df using the index attribute.

In [23]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            106, 107, 108, 109, 110, 111, 112, 113, 114, 115],
           dtype='int64', length=266)

In [ ]:
# %load ../solutions/05_09.py

We can see that the index is not going from 0 to 265 with a step of 1... 
> Clear the existing index and reset it using the ***reset_index*** method.  
> Check df's index.

In [25]:
df = df.reset_index()
df.index

RangeIndex(start=0, stop=266, step=1)

In [ ]:
# %load ../solutions/05_10.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Dropping columns
</h2><br>
</div>

>Show the information relative to df's columns.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       266 non-null    int64
 1   CourseName  266 non-null    object
 2   Location    266 non-null    object
 3   DateFrom    266 non-null    object
 4   DateTo      266 non-null    object
 5   Attendees   266 non-null    int64
 6   Unnamed: 5  0 non-null      float64
 7   Unnamed: 6  0 non-null      float64
dtypes: float64(2), int64(2), object(4)
memory usage: 16.8+ KB

In [ ]:
# %load ../solutions/05_11.py

We can see that the last two columns are completely empty, so we will drop them.

>Get the help for the drop method (if you prefer, you can search for the documentation on internet).

In [33]:
?pd.DataFrame.drop

In [ ]:
# %load ../solutions/05_12.py

You can see that the default value for *axis* is *0*. When it is the case, the method will look at the rows (i.e. *axis 0*) of the dataframe.  
In our case, we want to drop columns (i.e. *axis 1*).

>Drop the last two columns of df.  
>labels: provide a list with the column's names  
>Don't forget the axis!

In [38]:
df = df.drop(axis=1, labels=['Unnamed: 5','Unnamed: 6']) # OK

In [ ]:
# %load ../solutions/05_13.py
cols_to_remove = ['Unnamed: 5', 'Unnamed: 6']
df = df.drop(cols_to_remove, axis=1)

In [39]:
df.head()

,index,CourseName,Location,DateFrom,DateTo,Attendees
0,0,Risk Assessment (Pest),lisbon;Portugal,2015-01-12,2015-01-16,1
1,1,Organic Farming,Bristol,2015-01-19,2015-01-22,2
2,2,Prevention Control and Eradication of Transmis...,Ljubljana;Slovenia,2015-01-20,2015-01-23,2
3,3,Contingency Planning,Padua,2015-01-26,2015-01-30,2
4,4,HACCP,Rome,2015-02-02,2015-02-06,2

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Text data
</h2><br>
</div>

To [work with text data](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html), We will have to use the ***str*** attribute to access the methods (e.g. df['col'].str.replace('-', ' ')).  
We will have to use this attribute in different cases, but before that we will look at the Location column.  
>Display the unique values of the Location column.

In [70]:
df['Location'].unique()

array(['lisbon;Portugal', 'Bristol', 'Ljubljana;Slovenia', 'Padua',
       'Rome', 'Parma', 'Lisbon', 'Munich', 'Murcia', 'Amsterdam',
       'Venice', 'Athens', 'Warsaw', 'Berlin', 'Lyon', 'Antwerp', 'Graz',
       'Barcelona', ' Budapest', 'Madrid', 'Vilnius', 'Milan;Italy',
       'Budapest', 'Trim; Ireland ', 'Grange;Ireland', 'Riga',
       'Zagreb;Croatia', 'Genoa', 'Tallinn', 'Padua;Italy',
       'Coimbra;Portugal', 'Valencia', 'Bratislava;Slovakia',
       'Felixstowe;United Kingdom', 'Maribor', 'Unknown;France', 'Krakow',
       'Prague', 'Bremen', 'Rotterdam;Netherlands', 'Munich;Germany',
       'Unknown;Denmark', 'Vienna;Austria', 'Trim;Ireland',
       'Marseille;France', 'Venice/Udine; Italy ', 'Dusseldorf;Germany',
       'Maribor;Slovenia', 'Cardiff', 'Brussels/Antwerp',
       'Utrecht;Netherlands', 'Rome;IT', 'Malaga;Spain', 'Unknown;UK',
       'Valencia;Spain', 'Warsaw;Poland', 'Tallinn;Estonia', 'Gothenburg',
       'Unknown;Italy', 'Felixstowe', 'D?sseldorf', 'Barcelona;Spain',
       'Sofia Bulgaria', 'London', 'Budapest;Hungary', 'Lisbon;Portugal',
       'Alicante/Murcia;Spain', 'Vienna', 'Frankfurt;Switzerland',
       'Brussels', 'Zagreb', ' Venice; Italy', 'Tarragona;Spain',
       'Krakow;Poland', 'Athens ; Greece', 'Madrid;Spain',
       'Bremen;Germany', 'Athens;Greece', 'Unknown;Spain', 'London ',
       'Antwerp; Belgium', 'Torino;Italy', 'Lisbon ', 'Venice/Treviso',
       'Genoa;Italy', 'Nantes;France', 'Dublin;Ireland',
       'Vilnius;Lithuania', 'Alicante;Spain', 'Grange ; Ireland',
       'Cardiff;UK', 'Treviso', 'Brussels;Belgium', 'Ljubljana', 'Poland',
       'Malaga', 'Naples;Italy', 'Prague;CZ', 'Antwerp;Belgium', 'lisbon',
       'Turin', 'Riga;Latvia', 'Trim', 'Uppsala;Sweden', 'Frankfurt',
       'Dusseldorf', 'Trim;Ireland ', 'Milan', 'Coimbra', 'Naples',
       'Sofia;BG', 'Rotterdam/Delft', 'Bratislava', 'Denmark',
       'Thessaloniki;GR', 'Leipzig;Germany', 'Amsterdam;Netherlands',
       'Turin;Italy', 'Berlin;Germany', 'Torino', 'Ljubljana;SI',
       'Venice;IT', 'Seville;Spain', 'Treviso;Italy', 'Venice;Italy',
       'Zagreb/Helsinki'], dtype=object)

In [ ]:
# %load ../solutions/05_14.py

You can see that the cities and countries are separated with a semi-column (even if some values are missing). We are going to split the ***Location*** column.
>Try splitting the ***Location*** column on the semi-column.  
>You can check the [link](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html) provided earlier or the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).

In [71]:
df['Location'].str.split(';')

0         [lisbon, Portugal]
1                  [Bristol]
2      [Ljubljana, Slovenia]
3                    [Padua]
4                     [Rome]
               ...
261             [Venice, IT]
262               [Valencia]
263             [Bratislava]
264        [Zagreb/Helsinki]
265                [Antwerp]
Name: Location, Length: 266, dtype: object

In [ ]:
# %load ../solutions/05_15.py

This return a list with the items which were before and after the semi-column.  
>Try again to split again the ***Location*** column, but expand expand the results to get it in different columns.

In [72]:
df['Location'].str.split(';', expand=True)

                   0         1
0             lisbon  Portugal
1            Bristol      None
2          Ljubljana  Slovenia
3              Padua      None
4               Rome      None
..               ...       ...
261           Venice        IT
262         Valencia      None
263       Bratislava      None
264  Zagreb/Helsinki      None
265          Antwerp      None

[266 rows x 2 columns]

In [ ]:
# %load ../solutions/05_16.py

>Create a ***city*** and a ***country*** columns in df using this split.

In [75]:
df[['City','Country']] = df['Location'].str.split(';', expand=True)

In [ ]:
# %load ../solutions/05_17.py

>Drop the ***Location*** column.

In [ ]:
df = df.drop(labels='Location', axis=1)

In [ ]:
# %load ../solutions/05_18.py

In [81]:
df.head()

,level_0,index,CourseName,DateFrom,DateTo,Attendees,City,Country
0,0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portugal
1,1,1,Organic Farming,2015-01-19,2015-01-22,2,Bristol,None
2,2,2,Prevention Control and Eradication of Transmis...,2015-01-20,2015-01-23,2,Ljubljana,Slovenia
3,3,3,Contingency Planning,2015-01-26,2015-01-30,2,Padua,None
4,4,4,HACCP,2015-02-02,2015-02-06,2,Rome,None

>Get the number of unique values in the ***country*** column.

In [82]:
df['Country'].nunique()

35

In [ ]:
# %load ../solutions/05_19.py

>Check the count of each unique values in the ***country*** column.

In [84]:
df['Country'].value_counts()

Ireland           16
Spain             13
Italy             13
Germany            5
IT                 5
Portugal           4
Slovenia           4
Greece             4
UK                 4
Netherlands        3
France             3
Belgium            3
Poland             2
Estonia            1
Latvia             1
BG                 1
Croatia            1
Switzerland        1
CZ                 1
Slovakia           1
SI                 1
Austria            1
Hungary            1
Ireland            1
Lithuania          1
 Ireland           1
United Kingdom     1
Denmark            1
 Greece            1
 Belgium           1
 Italy             1
GR                 1
 Ireland           1
 Italy             1
Sweden             1
Name: Country, dtype: int64

In [ ]:
# %load ../solutions/05_20.py

We can see that some countries (e.g. Italy) seems to appear several times with some variations.
>Use the strip method to remove the (potential) extra spaces at the beginning and the end of the cities and countries.

In [87]:
df['Country'] = df['Country'].str.strip()
df['City'] = df['City'].str.strip()

In [ ]:
# %load ../solutions/05_21.py

   >Check again the number of unique values in the country column

In [88]:
df['Country'].nunique()

28

In [ ]:
# %load ../solutions/05_22.py

>Have a look at the rows where the ***country*** is Portugal.  
What do you notice about the ***city***?

In [92]:
df[df['Country'] == 'Portugal']

,level_0,index,CourseName,DateFrom,DateTo,Attendees,City,Country
0,0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portugal
44,44,16,Food Hygiene and Flexibility,2015-05-10,2015-05-15,2,Coimbra,Portugal
117,117,89,Plant Health Controls,2015-11-16,2015-11-19,1,Lisbon,Portugal
254,254,104,Animal identification registration and traceab...,2016-12-05,2016-12-09,1,Lisbon,Portugal

In [ ]:
# %load ../solutions/05_23.py

>Put the ***city*** column into lower case (don't forget to re-assign it to the **city** column).

In [94]:
df['City'] = df['City'].str.lower()

In [ ]:
# %load ../solutions/05_24.py

>Have a look at the rows where the ***city*** contains ' ***/*** '.

In [98]:
df[df['City'].str.contains('/')]

,level_0,index,CourseName,DateFrom,DateTo,Attendees,City,Country
69,69,41,Food Hygiene at Primary Production (Aquatic An...,2015-06-28,2015-10-02,1,venice/udine,Italy
79,79,51,Plant Health Controls,2015-09-15,2015-09-17,1,brussels/antwerp,None
118,118,90,Food Hygiene at Primary Production (Plants),2015-11-16,2015-11-20,1,alicante/murcia,Spain
145,145,117,Plant Health Controls,2016-03-07,2016-03-11,2,venice/treviso,None
159,159,9,Plant Health Controls,2016-04-25,2016-04-29,2,venice/treviso,None
174,174,24,Plant Health Controls,2016-05-17,2016-05-19,2,brussels/antwerp,None
216,216,66,Import Controls on Food and Feed of Non-Animal...,2016-09-13,2016-09-16,13,rotterdam/delft,None
264,264,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb/helsinki,None

In [ ]:
# %load ../solutions/05_25.py

Let's decide we only want to have one city for each row. We can decide to keep only the city before the forward slash.  
>Replace the string with a forward slash (i.e. ***/***) with the city appearing before the slash in the ***city*** column.  
>You will have to use a [regular expression](https://docs.python.org/3/howto/regex.html#repeating-things).      
>You can test your regular expression [here](https://regex101.com).

In [100]:
df['City'] = df['City'].str.replace('/\w*','')

In [101]:
df[df['City'].str.contains('/')] # to check if there are cities containing '/'

Empty DataFrame
Columns: [level_0, index, CourseName, DateFrom, DateTo, Attendees, City, Country]
Index: []

In [ ]:
# %load ../solutions/05_26.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Map
</h2><br>
</div>

In [102]:
df['Country'].value_counts()

Ireland           19
Italy             15
Spain             13
Greece             5
Germany            5
IT                 5
UK                 4
Portugal           4
Slovenia           4
Belgium            4
Netherlands        3
France             3
Poland             2
CZ                 1
Switzerland        1
Slovakia           1
Sweden             1
Estonia            1
SI                 1
BG                 1
Hungary            1
Lithuania          1
Austria            1
United Kingdom     1
Denmark            1
Croatia            1
GR                 1
Latvia             1
Name: Country, dtype: int64

We saw that some countries were filled with their country code, and others with their name. We are going to move everything to the same format.  
We can do that by mapping a dictionary to a column. It will then replace the ***key*** with the corresponding ***value***.  
>Complete the code below to replace the country codes with the country name.  
>Note that we use a mask as we want to replace only certain values of the series.

In [104]:
dict_codes = {'BG':'Bulgaria', 'CZ':'Czech Republic', 'IT':'Italy', 'GR':'Greece', 'SI':'Slovenia', 'UK':'United Kingdom'}
country_in_codes = df['Country'].isin(dict_codes.keys())
df.loc[country_in_codes, 'Country'] = df.loc[country_in_codes, 'Country'].map(dict_codes)

In [ ]:
# %load ../solutions/05_27.py

In [106]:
df['Country'].value_counts(dropna=False)

NaN               165
Italy              20
Ireland            19
Spain              13
Greece              6
United Kingdom      5
Slovenia            5
Germany             5
Belgium             4
Portugal            4
Netherlands         3
France              3
Poland              2
Croatia             1
Sweden              1
Bulgaria            1
Latvia              1
Denmark             1
Estonia             1
Slovakia            1
Hungary             1
Switzerland         1
Austria             1
Lithuania           1
Czech Republic      1
Name: Country, dtype: int64

Certain city values are unknown.  
>Have a look at the ***country*** values where the ***city*** is ***unknown***.

In [107]:
df['City'].value_counts()

lisbon       16
trim         12
rome         11
budapest     11
unknown      11
             ..
tarragona     1
utrecht       1
nantes        1
seville       1
poland        1
Name: City, Length: 64, dtype: int64

In [ ]:
# %load ../solutions/05_28.py

>Complete the code bellow to replace the value ***unknown*** in the ***city*** column with the capital of the corresponding ***country***.

In [110]:
dict_capitals = {'Denmark':'copenhague', 'France':'paris', 'Italy':'rome', 'Spain':'madrid', 'United Kingdom':'london'}
unknown_capitals = df['City'] == 'unknown'
df.loc[unknown_capitals, 'City'] = df.loc[unknown_capitals, 'Country'].map(dict_capitals)

In [ ]:
# %load ../solutions/05_29.py

Lots of countries are missing, but we can fill them using the cities.  
We can create a dictionary of cities and their corresponding countries using the rows where the ***country*** is not null.

In [111]:
dict_cities = df.loc[df['Country'].notnull(), ['City', 'Country']].set_index('City').to_dict()['Country']

We now want to check if all the cities we need are in our dictionary.  
>Subtracting the dictionary keys to the set of the ***city*** values, find which cities are in the ***city*** column but not in the dictionary ***keys***.

In [114]:
set(df["City"]) - dict_cities.keys()

{'bristol',
 'd?sseldorf',
 'denmark',
 'gothenburg',
 'graz',
 'lyon',
 'murcia',
 'parma',
 'poland',
 'sofia bulgaria'}

In [ ]:
# %load ../solutions/05_30.py

>Knowing that Bristol is in the United Kingdom, Gothenburg in Sweden, Graz in Austria, Lyon in France, Murcia in Spain and Parma in Italy, add some key-value pair to the dictionary ***dict_cities***.    
>You can either add each key-value pair or you can [update](https://python-reference.readthedocs.io/en/latest/docs/dict/update.html) dict_cities with another dictionary.

In [116]:
dict_cities.update({'bristol':'United Kingdom', 
                    'gothenburg':'Sweden', 
                    'graz':'Austria', 
                    'lyon':'France', 
                    'murcia':'Spain', 
                    'Parma':'Italy'})

In [ ]:
# %load ../solutions/05_31.py

>Use this dictionary to fill in some of the missing countries.

In [119]:
no_country = df['Country'].isnull()
df.loc[no_country, 'Country'] = df.loc[no_country, 'City'].map(dict_cities)

In [ ]:
# %load ../solutions/05_32.py

>Get the count of the different values of the ***country*** column, showing the NaN values.

In [129]:
df['Country'].value_counts(dropna=False)

Italy             41
Spain             37
Ireland           20
Portugal          18
Germany           17
NaN               14
United Kingdom    13
Slovenia          13
Latvia            11
Hungary           11
Belgium           10
Greece             9
Estonia            8
Czech Republic     7
Poland             7
Netherlands        6
Slovakia           4
Austria            4
Croatia            4
Lithuania          4
France             3
Switzerland        2
Bulgaria           1
Sweden             1
Denmark            1
Name: Country, dtype: int64

In [ ]:
# %load ../solutions/05_33.py

We can see that there are only 4 NaN values. They correspond to bad data entries that we could "manually" correct. Feel free to add a few calls below and give it a try if you feel like it!

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Apply
</h2><br>
</div>

>Write a function that returns ***single*** if the value passed is 1, and ***multiple*** otherwise.

In [134]:
def f(x):
    if x == 1:
        print('single')
    else:
        print('multiple')

In [ ]:
# %load ../solutions/05_34.py

>Apply this function to the ***Attendees*** column.

In [136]:
df['Attendees'].apply(f)

single
multiple
multiple
multiple
multiple
single
single
single
multiple
multiple
single
single
single
multiple
multiple
single
multiple
single
single
single
multiple
single
single
single
single
single
single
multiple
multiple
single
multiple
multiple
multiple
multiple
multiple
single
multiple
single
multiple
multiple
multiple
single
multiple
multiple
multiple
single
multiple
multiple
multiple
single
single
multiple
multiple
multiple
single
multiple
multiple
multiple
single
multiple
multiple
single
single
multiple
single
single
multiple
multiple
single
single
single
single
single
multiple
single
single
multiple
multiple
multiple
single
multiple
single
multiple
single
single
multiple
multiple
multiple
multiple
single
single
multiple
single
single
multiple
single
single
multiple
single
single
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
single
single
multiple
single
multiple
multiple
multiple
single
single
single
single
multiple
single
multiple
multiple
multiple
multiple
multiple
multiple
single
single
multiple
single
single
single
single
single
multiple
multiple
single
multiple
multiple
multiple
multiple
single
multiple
single
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
single
single
multiple
single
multiple
multiple
multiple
multiple
single
multiple
single
multiple
multiple
single
multiple
single
single
single
single
multiple
multiple
single
multiple
multiple
multiple
single
multiple
multiple
multiple
multiple
single
multiple
multiple
multiple
single
multiple
single
multiple
multiple
multiple
multiple
single
multiple
multiple
single
multiple
multiple
multiple
single
single
single
single
single
single
multiple
single
multiple
multiple
multiple
single
multiple
multiple
multiple
single
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
multiple
single
multiple
single
multiple
multiple
multiple
multiple
multiple
single
single
multiple
single
multiple
single
multiple
multiple
multiple
multiple
multiple
multiple
single
single
single
multiple
single
multiple
single
multiple
multiple
single
multiple
multiple

0      None
1      None
2      None
3      None
4      None
       ...
261    None
262    None
263    None
264    None
265    None
Name: Attendees, Length: 266, dtype: object

In [ ]:
# %load ../solutions/05_35.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Join
</h2><br>
</div>

>Load the language data and assign it to languages (path: '../data/food_training/languages.csv')

In [137]:
languages = pd.read_csv('../data/food_training/languages.csv')

In [ ]:
# %load ../solutions/05_36.py

In [138]:
languages.head()

   Country    Official and national Languages
0  Albania                           Albanian
1  Andorra                            Catalan
2  Austria  German/Slovene/Croatian/Hungarian
3  Belarus                 Belarusian/Russian
4  Belgium                Dutch/French/German

>Join df and languages to add the language information to df.  
>You can check the page about [merge, join and concatenation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) or the merge method [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [144]:
df1 = pd.merge (df, languages, how='left', on='Country')

In [ ]:
# %load ../solutions/05_37.py

In [145]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   level_0                          266 non-null    int64
 1   index                            266 non-null    int64
 2   CourseName                       266 non-null    object
 3   DateFrom                         266 non-null    object
 4   DateTo                           266 non-null    object
 5   Attendees                        266 non-null    int64
 6   City                             266 non-null    object
 7   Country                          252 non-null    object
 8   Official and national Languages  252 non-null    object
dtypes: int64(3), object(6)
memory usage: 20.8+ KB

>Drop the ***Country*** column from df.

In [147]:
df1.drop('Country', axis=1)

,level_0,index,CourseName,DateFrom,DateTo,Attendees,City,Official and national Languages
0,0,0,Risk Assessment (Pest),2015-01-12,2015-01-16,1,lisbon,Portuguese
1,1,1,Organic Farming,2015-01-19,2015-01-22,2,bristol,NaN
2,2,2,Prevention Control and Eradication of Transmis...,2015-01-20,2015-01-23,2,ljubljana,Slovenian
3,3,3,Contingency Planning,2015-01-26,2015-01-30,2,padua,Italian
4,4,4,HACCP,2015-02-02,2015-02-06,2,rome,Italian
...,...,...,...,...,...,...,...,...
261,261,111,Contingency Planning,2017-03-06,2017-03-10,3,venice,Italian
262,262,112,Audit B1 - Standard Level,2017-03-06,2017-03-10,2,valencia,Spanish/Catalan/Galician/Basque
263,263,113,Audit A,2017-03-20,2017-03-24,1,bratislava,Slovak
264,264,114,Food Hygiene and Flexibility,2017-03-20,2017-03-24,2,zagreb,Croatian
265,265,115,Animal Health and Disease Prevention for Bees ...,2017-03-28,2017-03-31,2,antwerp,Dutch/French/German

In [ ]:
# %load ../solutions/05_38.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Date time
</h2><br>
</div>

>Check the dtype of the ***DateFrom***.

In [ ]:
# %load ../solutions/05_39.py

***DateFrom*** and ***DateTo*** are objects.  
>Convert these two columns to ***datetime*** format.

In [ ]:
# %load ../solutions/05_40.py

Note: We could have used the parameter *parse_dates* when loading data.  
We can now use these columns to filter or do some calculation.
>Display the rows where the training started after the first February 2017.

In [ ]:
# %load ../solutions/05_41.py

>Create a ***duration*** column with the duration of the training.

In [ ]:
# %load ../solutions/05_42.py

>Create a ***month*** column indicating which month the training started.  
>Plot an histogram of the ***month*** column.

In [ ]:
# %load ../solutions/05_43.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Sorting values
</h2><br>
</div>

>Sort df in alphabetical order of ***cities***.

In [ ]:
# %load ../solutions/05_44.py

>Sort df by ascending ***duration*** and descending number of ***Attendees***.

In [ ]:
# %load ../solutions/05_45.py

We can see that there was a couple of issues with dates data entry...

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Group By
</h2><br>
</div>

>Group df by ***city***. Assign the grouped data to df_gr.

In [ ]:
# %load ../solutions/05_46.py

>Get the mean number of ***Attendees*** for the grouped data.

In [ ]:
# %load ../solutions/05_47.py